@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600');

.header {
    background-color: transparent;
    padding: 20px 56px;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.purple {
    background: #29337d;
}
@media (max-width: 1024px) {
    .header {
        padding: 20px 30px;
    }
}

.header .logo {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    color: white;
    text-decoration: none;
}

.header img {
    max-height: 100%;
    max-width: 100%;
}


.header .logo {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .header .header-col:first-child {
        margin-bottom: 10px;
    }
}

.header .header-col:last-child {
    text-align: right;
    padding-top: 5px;
}

@media (max-width: 1024px) {
    .header .header-col:last-child {
        padding-top: 10px;
    }
}


@media (max-width: 576px) {
    .header .header-col:last-child {
        text-align: left;
    }
}
.header button {
    height: 45px;
    width: 145px;
    color: white;
    padding: 5px;
    border-color: white;
    border-radius: 20px;
    background: none;
    font-size: 14px;
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .header button {
        width: 110px;
        height: 35px;
    }
}

.header button:last-child {
    margin-right: 0;
}

.header button:hover,
.header button:after,
.header button:focus,
.header button.active {
    background: white;
    color: black;
}