@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

/* @font-face {
    font-family: 'Conv_ZapfDingbats';
    src: url('../fonts/ZapfDingbats.eot');
    src: local('☺'), url('../fonts/ZapfDingbats.woff') format('woff'), url('../fonts/ZapfDingbats.ttf') format('truetype'), url('../fonts/ZapfDingbats.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Arial';
    src: url('../fonts/Arial.eot');
    src: local('☺'), url('../fonts/Arial.woff') format('woff'), url('../fonts/Arial.ttf') format('truetype'), url('../fonts/Arial.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Akkurat';
    src: url('../fonts/Akkurat.eot');
    src: local('☺'), url('../fonts/Akkurat.woff') format('woff'), url('../fonts/Akkurat.ttf') format('truetype'), url('../fonts/Akkurat.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} */

html,
body {
  width: 100%;
  min-height: 100%;
}
body {
  font: 16px 'Open Sans', Arial, sans-serif;
  color: #000;
  position: relative;
  background: white;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.align-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  line-height: 1.4545454;
}

h1 {
  margin-bottom: 120px;
  font-size: 48px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 38px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #243d82;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  h3 {
    margin-bottom: 30px;
  }
}

button {
  padding: 5px;
  border-radius: 35px;
  outline: none;
  font-weight: 700;
  border: 2px solid transparent;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color, color 0.3s ease;
  -moz-transition: background-color, color 0.3s ease;
  -ms-transition: background-color, color 0.3s ease;
  -o-transition: background-color, color 0.3s ease;
  transition: background-color, color 0.3s ease;
}

button:hover,
button:focus,
button:active {
  outline: none;
}

button.blue-border {
  color: #243d82;
  border-color: #243d82;
  height: 60px;
  width: 215px;
  margin-top: 120px;
}

button.blue-border:hover,
button.blue-border:active,
button.blue-border:focus {
  color: white;
  background: #243d82;
}

.button-box {
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 100px;
}

button.blue-bg {
  background: #243d82;
  color: white;
  height: 60px;
  width: 215px;
  border-color: #243d82;
}

button.blue-bg a {
  text-decoration: none;
  color: white;
}

button.blue-bg:hover a,
button.blue-bg:active a,
button.blue-bg:focus a {
  color: #243d82;
}

button.blue-bg:hover,
button.blue-bg:active,
button.blue-bg:focus {
  color: #243d82;
  background: white;
}

.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.svg {
  display: inline-block;
  text-align: center;
}

.svg.icon-display {
  background: url('../images/Icon_Display.svg') no-repeat;
}

.svg.icon-threshold {
  background: url('../images/Icon_Threshold.svg') no-repeat;
}

.svg.icon-collect {
  background: url('../images/Icon_Collect.svg') no-repeat;
}

.svg.icon-expandieren {
  background: url('../images/Icon_Expandieren.svg') no-repeat;
}

.svg.icon-vertrag {
  background: url('../images/Icon_Vertrag.svg') no-repeat;
}

.svg.icon-software {
  background: url('../images/Icon_Software.svg') no-repeat;
}

/* Banner section*/
.heading {
  color: white;
}

.heading p {
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .heading p {
    font-size: 18px;
  }
}

.heading button {
  background: white;
  color: #000;
  height: 60px;
  width: 215px;
  margin-bottom: 50px;
}

.heading button:hover,
.heading button:active,
.heading button:focus {
  color: white;
  background: #000;
  border-color: white;
}

.banner {
  background: url('../images/bg-banner.jpg') 50% 0 no-repeat;
  background-size: cover;
  padding: 280px 0 100px;
  text-align: center;
  color: white;
  position: relative;
}

.banner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*Features section*/
.features {
  padding: 100px 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .features {
    padding: 40px 0;
  }
}

.features h2 {
  font-size: 48px;
  font-weight: 300;
  color: #243d82;
  text-transform: uppercase;
  margin-bottom: 130px;
  text-align: center;
}

@media (max-width: 1024px) {
  .features h2 {
    font-size: 40px;
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .features h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .features div {
    margin-bottom: 60px;
  }

  .features div:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .features div:last-child {
    margin-bottom: 0;
  }
}

.features p {
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .features p {
    margin-bottom: 30px;
  }
}

.features .svg {
  width: 85px;
  height: 85px;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .features .svg {
    margin-bottom: 20px;
  }
}

/* Info section*/
.info-block {
  padding: 100px 0 100px;
  text-align: center;
  background: #f0f0f0;
}

@media (max-width: 1024px) {
  .info-block {
    padding: 40px 0;
  }
}

.info-block .number {
  color: #243d82;
  font-weight: 700;
}

.info-block h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .info-block h2 {
    margin-bottom: 20px;
  }
}

.info-block div {
  padding: 0 29px;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .info-block div:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .info-block div:last-child {
    margin-bottom: 0;
  }
}

.info-block .svg {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
}

h2 ~ p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.reg {
  padding-top: 170px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .reg {
    padding-bottom: 70px;
  }
}

.reg.reg-start {
  padding-top: 300px;
}

@media (max-width: 768px) {
  .reg.reg-start {
    padding-top: 200px;
  }
}

.reg.reg-start .reg-heading {
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .reg.reg-start .reg-heading {
    margin-bottom: 70px;
  }
}

.reg .mail {
  height: 53px;
  /* border: 1px solid rgba(0, 0, 0, .63); */
  border-radius: 10px;
}

.reg .wrapper {
  position: relative;
  width: 100%;
}

.reg .row {
  margin-right: 0;
  margin-left: 0;
}

.reg .radio-button {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 5%;
  left: 0;
}

.reg .login-block {
  width: 55%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .reg .login-block {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .reg .login-block {
    width: 100%;
  }
}

.reg-heading {
  font-size: 26px;
  font-family: 'ZapfDingbats', sans-serif;
  margin-bottom: 70px;
}

.sub-heading {
  font-size: 18px;
  margin-bottom: 20px;
}

.reg h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  padding-left: 15px;
}

@media (max-width: 1024px) {
  .reg h2 {
    margin-bottom: 30px;
  }
}

.reg h2 ~ p {
  font-size: 18px;
  padding-left: 15px;
}

/* Checkbox */
.reg.fifth-step label.check {
  width: 100%;
  padding-left: 0;
}

.reg.fifth-step label.check:before {
  margin-right: 10px;
}

.reg .check {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  margin-top: 0;
  padding-left: 0;
}

.reg.second-step .check {
  margin-right: 15px;
}

.reg.third-step .form-group,
.reg.fourth-step .form-group {
  margin-bottom: 30px;
}

.checkbox-inline input[type='checkbox'] {
  position: static;
}

.formgroup-double {
  padding-left: 0;
}

@media (max-width: 767px) {
  .checkbox-lg {
    padding-left: 0;
  }

  .formgroup-double {
    padding-left: 15px;
  }
}

.reg .check.checkbox label {
  padding-left: 0;
}

.reg .checkbox-sub {
  display: inline-block;
  vertical-align: top;
  width: 95%;
  padding-left: 10px;
}

@media (max-width: 480px) {
  .reg .checkbox-sub {
    width: 90%;
  }
}

.reg .check-language .form-group {
  display: inline-block;
  margin-right: 15px;
  padding-left: 10px;
}

.reg .checkbox-sub p {
  font-size: 12px;
}

.reg .check.notes {
  padding-left: 0;
}

.reg h2 ~ p {
  margin-bottom: 20px;
}

.reg .check input[type='checkbox'] {
  display: none;
}
.reg .check {
  cursor: pointer;
  position: relative;
  font-size: 16px;
}
.reg .check:before {
  content: '';
  width: 18px;
  display: inline-block;
  height: 18px;
  border: 1px solid #000;
  border-radius: 2px;
  padding-left: 3px;
  color: #243d82;
  font-weight: bold;
  font-size: 14px;
  vertical-align: top;
}

.reg.second-step .check:before {
  margin-top: 7px;
}

.reg .check.active-box:before {
  content: '✓';
  display: inline-block;
}

.reg .login-block .check-language .form-group span {
  padding-right: 10px;
}

.fifth-step .compensation.checkbox-l > div {
  height: 95px;
}

.form-control::-webkit-input-placeholder {
  color: #b2b2b2;
} /* webkit */
.form-control:-moz-placeholder {
  color: #b2b2b2;
} /* Firefox 19+ */
.form-control::-moz-placeholder {
  color: #b2b2b2;
} /* Firefox 18- */
.form-control:-ms-input-placeholder {
  color: #b2b2b2;
} /* IE */

.reg .form-control {
  border-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  font-size: 16px;
}
/* .reg .form-control .validation-error {
    border-color:
} */
@media (max-width: 767px) {
  .reg-start-heading {
    margin-bottom: 80px;
  }
}

.main-block {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .main-block {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .main-block {
    width: 100%;
    height: 100%;
  }
}

/* Radio buttons*/

.radio-block {
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  width: 20%;
  top: 20px;
  left: 0;
}

@media (max-width: 1200px) {
  .radio-block {
    position: static;
    width: 80%;
    margin: 0 auto;
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .radio-block {
    width: 100%;
  }
}

.radio-block .radio {
  margin-bottom: 15px;
}

.radio-block label {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}

.radio-block input[type='radio'] {
  display: none;
}

.radio-block label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 1px;
  border-radius: 50%;
  border: 1px solid #243d82;
  background-color: transparent;
}

.radio-block input[type='radio']:checked + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 16px;
  background: #243d82;
}

.active-circle label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #243d82;
}

/* end */

.reg .login-block .form-group span {
  display: inline-block;
  margin-top: 6px;
}

.reg .login-block .form-group label {
  margin-bottom: 5px;
}

.reg .input-block {
  margin-bottom: 5%;
}

.reg .dropdown {
  width: 100%;
}

.reg .drop-button {
  border-color: #ced4da;
  color: #555;
  border-color: rgba(0, 0, 0, 0.6);
  outline: none;
  width: 100%;
}

.reg .border-right-radius-none {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 1px solid transparent;
}

.reg .border-left-radius-none {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@media (max-width: 480px) {
  .reg .drop-button.dropdown-toggle::after {
    display: none;
  }
}

.reg .double-drop .dropdown:first-child {
  width: 40%;
}

.reg .dropdown .dropdown-menu {
  overflow-y: scroll;
  max-height: 150px;
}

.reg .double-drop .dropdown:last-child {
  width: 60%;
}

.after-dropdown {
  float: right;
  width: 60%;
}

.reg .drop-inline-small,
.reg .drop-inline-large {
  display: inline-block;
  vertical-align: top;
}

.reg .drop-inline-small {
  width: 22%;
}

.reg .drop-inline-small .dropdown {
  width: 100%;
}

.reg .form-group .dropdown .drop-button,
.reg .drop-inline-small .dropdown .drop-button {
  background: transparent;
  box-shadow: none;
  height: 40px;
}

@media (max-width: 480px) {
  .reg .drop-inline-small .dropdown {
    padding-left: 3px;
  }
}

.reg .drop-inline-large {
  width: 78%;
  margin-left: -1px;
}

.left-block {
  display: inline-block;
  width: 45%;
  float: left;
}

.right-block {
  display: inline-block;
  width: 45%;
  float: right;
}
.text-between {
  width: 10%;
  text-align: center;
  display: inline-block;
  margin-top: 7px;
}

.form-text-block {
  width: 8%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.form-text-block p {
  margin-bottom: 0;
  margin-top: 7px;
}

.reg.finish-reg .main-block {
  width: 50%;
  font-size: 18px;
  height: 100%;
}

@media (max-width: 1024px) {
  .reg.finish-reg .main-block {
    font-size: 16px;
  }
}

.reg.finish-reg ol {
  margin-bottom: 150px;
}

@media (max-width: 1024px) {
  .reg.finish-reg ol {
    margin-bottom: 70px;
  }
}

.reg.finish-reg h2 {
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .reg.finish-reg h2 {
    margin-bottom: 60px;
  }
}

.reg.finish-reg .reg-heading {
  padding-left: 0;
}

@media (max-width: 1024px) {
  .reg.finish-reg .main-block {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .reg.finish-reg .main-block {
    width: 100%;
  }
}

.reg.finish-reg .main-block li {
  margin-bottom: 30px;
  position: relative;
}

.reg .main-block ul {
  margin-bottom: 120px;
}

.reg .main-block ol {
  counter-reset: li;
  padding: 0;
  list-style: none;
}
.reg .main-block ol li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 8px;
}
.reg .main-block ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: -2em;
  padding: 2px 8px;
  border: 1px solid #243d82;
  border-radius: 50%;
  color: #243d82;
  text-align: center;
}

/* Tabs */
.tabs-block {
  padding: 0;
  margin-bottom: 15px;
}

.tabs-list {
  padding: 0;
}

.tab-content {
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  .tab-content {
    margin-bottom: 100px;
  }
}

.tab-content ul li {
  margin-bottom: 20px;
  line-height: 1.6;
  position: relative;
  padding-left: 24px;
}

.tab-content ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10%;
  border: 6px solid transparent;
  border-left: 12px solid black;
}

.tab-content .tab-pane.active ul {
  padding: 20px 30px 0;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
}

.footnote {
  margin-bottom: 70px;
  font-size: 12px;
}

.tabs-nav.nav-stacked > li + li {
  margin-top: 0 !important;
}

.tabs-nav.row {
  margin-left: -10px;
  margin-right: -10px;
}

.tabs-nav li,
.compensation {
  display: inline-block;
  padding: 0 10px;
  width: 33.332%;
  border: none;
  vertical-align: top;
  position: relative;
}

.tabs-nav li {
  text-align: center;
}

@media (max-width: 610px) {
  .tabs-nav li,
  .compensation {
    display: block;
    width: 100%;
    margin: 0 auto 20px;
  }
}

.compensation {
  margin-bottom: 30px;
  padding-left: 0;
}

@media (max-width: 610px) {
  .compensation {
    padding-right: 0;
  }
}

.compensation:first-child {
  padding-left: 0;
}

.compensation:last-child {
  padding-right: 0;
}

.compensation p {
  font-size: 12px;
}

.tabs-nav li a,
.compensation > div {
  position: relative;
  border-radius: 4px;
  outline: none;
  color: white;
  padding: 0;
}

.tabs-nav li a {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  height: 120px;
  font-size: 16px;
  font-weight: bold;
}

.compensation > div {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-weight: 600;
  width: 100%;
}

.compensation {
  color: black;
  border-color: rgba(0, 0, 0, 0.6);
}

.tabs-nav li.active a,
.tabs-nav li.active a:hover,
.tabs-nav li.active a:active,
.tabs-nav li.active a:focus {
  background: none;
}

.tabs-nav li a,
.tabs-nav li a:hover,
.tabs-nav li a:active,
.tabs-nav li a:focus {
  background: none;
}

.tabs-nav li .active-state {
  display: none;
}

.tabs-nav li.active:before,
.tabs-nav li.active:after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
}

.tabs-nav li.active .active-state {
  display: block;
  padding: 0;
  position: absolute;
  top: -19px;
  right: -22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  background: #29337d;
  z-index: 9999;
}

.tabs-nav li.active .active-state:before {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  transform: translate(-50%, -50%);
  color: white;
}

.tabs-nav li a div {
  justify-content: center;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  height: 40%;
  width: 100%;
  border: none;
  z-index: 99;
  position: relative;
}

.tabs-nav li a .tabs-price {
  border: 1px solid #29337d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.tabs-nav li a .tabs-name {
  height: 60%;
  background: #29337d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  z-index: 999;
}

.tabs-nav li a span {
  text-align: center;
  width: 100%;
  padding: 0 5px;
}

.has-error .form-control {
  margin-bottom: 5px;
}

.has-error label.form-error.control-label,
.drop-inline-small label.form-error.control-label,
.drop-inline-large label.form-error.control-label,
.double-drop label.form-error.control-label,
.rbt label.form-error.control-label {
  margin-bottom: 0;
  font-weight: 400;
}

.double-drop label.form-error.control-label {
  margin-top: 5px;
}

.eigene {
  margin-bottom: 0;
  padding: 7px 0;
}

.eigene label.check.check::before {
  margin-top: 3px;
  margin-right: 15px;
}

.eigene label.check {
  width: 100%;
}

.rbt + label.form-error.control-label {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 400;
}
